@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0;
  background: #f6f8fa;
}
#__next {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
/* html {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-weight: 900;
  line-height: 2.25rem;
}
a {
  text-decoration: none;
} */
