.root {
  padding: 5vh 5vw;
  opacity: 0;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  min-height: 100vh;
}

.in {
  opacity: 1;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
}

.line {
  background: linear-gradient(#ffffff, #f9cb28, #ff4d4d);
  width: 2px;
  height: 4rem;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.container h6 {
  margin-top: 2rem;
}
