.root {
  height: 100vh;
  max-height: 1000px;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

.left {
  position: absolute;
  background: #fcfcfc;
  /* background-image: url(/lily.jpg); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 78% 0%, 0% 52%);
  width: 100%;
  height: 100%;
}

.left img {
  height: 50%;
  margin-left: 10%;
}

.right {
  position: absolute;
  /* to make a new shape: https://bennettfeely.com/clippy/ */
  background: #1f1f1f;
  clip-path: polygon(78% 0%, 100% 0, 100% 100%, 0 100%, 0 52%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 35%;
  padding-top: 10%;
}

.note {
  display: none;
  position: absolute;
  top: 2rem;
  left: 50%;
  margin-left: -20rem;
  /* width: 20rem;
  height: 7.5rem; */
  /* background: rgba(251, 35, 110, 0.8); */
  background: rgba(0, 0, 0, 0.73);
  color: white;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  border-radius: 1rem;
  padding-left: 4rem;
  padding-right: 1rem;
  z-index: 2;
  font-size: 0.8rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro {
  color: #ffffff;
}

.name {
  font-size: 2.9rem;
  font-weight: 100;
  margin-bottom: 0rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5rem;
  /* text-transform: uppercase; */
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -12px;
}

.technologies img {
  max-height: 32px;
  margin-top: 1rem;
}

.buttons {
  /* margin-top: 1.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.buttons a {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
  padding: 0.2rem 0.8rem;
  border-radius: 3px;
  /* background: transparent; */
  /* border: 2px solid rgba(255, 255, 255, 0.65);
  color: rgba(255, 255, 255, 0.65); */
  border: 0px solid rgba(251, 35, 110, 1);
  color: rgba(251, 35, 110, 1);
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.2s ease-in-out;
}

.buttons a:hover {
  border: 0px solid rgba(251, 35, 110, 1);
  color: #ffffff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
}
